@model GameDetailsViewModel

@{
    ViewData["Title"] = "GameDetails";
}



<div class="card mb-3 cardGameDetails">
    @if (Model.Game.clip != null)
    {
        <video controls>
            <source src="@Model.Game.clip.clip" type="video/mp4">
        </video>
    }
    else
    {
        <img src="~/images/video-placeholder.jpg" />
    }

    <div class="card-body">
        <h5 class="card-title">@Model.Game.name_original</h5>
        <p class="card-text">@Html.Raw(Model.Game.description)</p>
        <p><b>Also you can buy this game in following stores:</b></p>
        <div>
            @foreach (var item in Model.StoresList)
            {
                <a href="@item.url" store="@item"></a>
            }
        </div>
    </div>
</div>


<div class="row">
    @foreach (var item in Model.SimilarGames)
    {
        <div class="card col-md-4">
            <img src="@item.background_image" class="card-img-top" alt="..." onerror="event.target.src = '/images/placeholder.jpg'">
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                <a asp-controller="Home" asp-action="GameDetails" asp-route-id="@item.id" class="btn btn-primary">Details</a>
            </div>
        </div>

    }

</div>


@*reviews list*@
@if (Model.Reviews != null)
{
    @foreach (var item in Model.Reviews)
    {
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@item.Comment</p>
                    <footer class="blockquote-footer">@item.UserName</footer>
                </blockquote>
            </div>
        </div>
    }

}



@*add review*@
<form asp-controller="Home" asp-action="PostReview" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="GameId" value="@Model.Game.id" />
    <div class="form-group">
        <label asp-for="Review.UserEmail">Email address</label>
        <input  asp-for="Review.UserEmail" class="form-control"  placeholder="name@example.com">
        <span asp-validation-for="Review.UserEmail" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label for="UserName">Name</label>
        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Name">
    </div>

    <div class="form-group">
        <label for="Comment">Example textarea</label>
        <textarea class="form-control" id="Comment" name="Comment" rows="3"></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>


@*@foreach (var item in ViewBag.AllStoresList)
    {
        <p>@item.name</p>
    }*@

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}