@model GamesResultViewModel


@{
    ViewData["Title"] = "Search";
}

<div class="row">
    @if (Model.Games.count <= 0)
    {
        <p>Games not found</p>
    }

    @foreach (var item in Model.Games.results)
    {
        <div class="card col-md-4">
            <img src="@(item.background_image ?? "/images/placeholder.jpg")" class="card-img-top" alt="..." onerror="event.target.src = '/images/placeholder.jpg'">
            <div class="card-body">
                <h5 class="card-title">@item.name</h5>
                <a asp-controller="Home" asp-action="GameDetails" asp-route-id="@item.id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>


<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i < Model.TotalPages; i++)
        {

            <li class="page-item"><a class="page-link"asp-controller="Home" asp-action="Search" asp-route-title="@Model.Title" asp-route-page="@i">@i</a></li>
        }
        @*<li class="page-item"><a class="page-link" href="#">Previous</a></li>

            <li class="page-item"><a class="page-link" href="#">Next</a></li>*@
    </ul>
</nav>