@model SearchViewModel


@{
    ViewData["Title"] = "Search";
}


@*@if (Model.TotalPages <= 0)
    {
        <p>Games not found</p>
    }
    else
    {
        <div class="row" id="gameResults">
            @if (Model.Title != null)
            {
                <partial name="_GameListPartial" model="@Model.Games" />
            }
            else
            {
                <p>Game not found! Try again</p>
            }
        </div>
    }*@
@if (Model.Title != null)
{
    <div class="row" id="gameResults">
        <partial name="_GameListPartial" model="@Model.Games" />


    </div>


    @*pagination*@
    <vc:pagination action="Search"
                   controller="Home"
                   total-pages="@Model.TotalPages"
                   current-page="@Model.CurrentPage"
                   route-params="@(new Dictionary<string, string> { {"title", Model.Title } })">

    </vc:pagination>
    @*pagination end*@
}
else
{
    <p>Game not found! Try again</p>
}


@section Scripts
    {
    <script>
        $("#LoadMore").click(async function () {
            $(this).parent().parent().remove();
            await initPagination(@Model.CurrentPage, @Model.TotalPages, '@Url.ActionLink("SearchResult", "Home", new { title = Model.Title })');
        });
    </script>
}

